HTTP_ADDR=:8080
HTTP_SHUTDOWN_TIMEOUT=30s

LOGGER_LEVEL=INFO
LOGGER_FOLDER=./out/logs

GRPC_DB_ADDR=localhost:9090

MAX_BOT_TOKEN=

# 5-256 characters from A-Z, a-z, 0-9, _ and -.
MAX_BOT_SECRET=

MAX_BOT_WEBHOOK_URL=https://example.invalid/webhook
MAX_BOT_AUTO_SUBSCRIBE=true
